<?php
/**
 * credentials.php
 *
 * Stores the credentials to the various apis we use.
 */

/*
// Twilio Credentials
define('TWILIO_ACCOUNT_SID', 'FILL_ME_IN');
define('TWILIO_AUTH_TOKEN', 'ME_TOO');
define('TWILIO_PHONE_NUMBER', '+18005551234');
define('TWILIO_PHONE_NUMBER_PRETTY', '(800) 555-1234');
*/

?>