body {
  padding-top: 80px; /*top bar allowance*/
  background-color: #eee;
}

.hero-unit {
  background-color: #fff;
}

.container {
  width: 680px;
}

.footer p {
  text-align: center;
  color: #555;
}
